html,body{
    margin: 0; padding: 0; 
    overflow: hidden;
    background-color: blue;
}

.wrapper_login{
position: absolute;  
top: 0; 
left: 0; 
bottom: 0; 
right: 0;
margin: auto;
height: 300px;
width: 500px;
}
.wrapper_title{
height: 60px;
font-size: 36px;
text-align: center;
letter-spacing:15px;
color: white;
font-weight:bold;
}

