<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<link rel='stylesheet' type='text/css' href='../static/css/main.css'>
<script src="../static/js/drp.js" ></script>
<script src="../static/js/main.js"></script>
<script>
</script>
<body class="layui-layout-body">
        <div class="layui-layout layui-layout-admin">
                <div class="layui-header">
                  <div class="layui-logo">数据集成平台</div>
                  <!-- 头部区域（可配合layui已有的水平导航） -->
                  <ul class="layui-nav layui-layout-left"></ul>
                  <ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item"><a href="javascript:void(0);" onclick="closeWindow(this)">退出</a></li>
                  </ul>
                </div>
                
                <div class="layui-side layui-bg-black"> 
                    <div class="layui-side-scroll " >
                     <ul class="layui-nav layui-nav-tree">
                            <li class="layui-nav-item">
                                <a>主控面板</a>
                                <dl class="layui-nav-child">
                                  <dd><a class="site-demo-active" >&emsp;<cite>主页信息</cite></a></dd>
                                </dl>
                            </li>
                            <li class="layui-nav-item">
                                <a>系统设置</a>
                                <dl class="layui-nav-child">
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user','用户管理','用户管理界面')" >&emsp;<cite>用户管理</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user0','角色管理','用户管理界面')" >&emsp;<cite>角色管理</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user1','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user2','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user3','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user4','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user5','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user6','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user7','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user8','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user9','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user10','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user11','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user12','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user13','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user14','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user15','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user16','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user17','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user18','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user19','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user20','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user21','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user22','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user23','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user24','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                  <dd><a href="javascript:void(0);" onclick="editorTabs.addTab('user25','用户管理','用户管理界面')" >&emsp;<cite>项目介绍</cite></a></dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="layui-body">
                    <div class="nth-tabs" id="editor-tabs"></div>
                </div>
                
            <div class="layui-footer">@2019</div></div>
</body>
</html>