<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CHD-DRP</title>
<link  rel="stylesheet" type="text/css"  href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/login.css">
<script src="../../lib/jquery-3.2.1/jquery-3.2.1.min.js"></script>
<script src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../js/login.js"</script></script>
</head>
<body>
    <div class="wrapper">
        <div class="wrapper_login">
            <div class="wrapper_title">
                数据集成平台
            </div>
            <div class="wrapper_well well">
                <div class="input-group wrapper_input ">
                    <span class="input-group-addon" id="basic-addon1">用户名:</span>
                    <input type="text" id="username" class="form-control" aria-describedby="basic-addon1">
                </div>
                <div class="input-group wrapper_input">
                        <span class="input-group-addon" id="basic-addon1">密码:</span>
                        <input type="password" id="password" class="form-control" aria-describedby="basic-addon1">
                </div>
                <div class="checkbox wrapper_input">
                    <label>
                      <input type="checkbox">记住密码
                    </label>
                <div class=" wrapper_input">
                     <button class="btn btn-primary btn-block" id="login_btn">登录</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>